# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Local Database (SQLite)
database.db
*.db
*.db-journal

# Environment variables and secrets
.env
.env.local

# IDE and System files
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
